.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.alert {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

/* NAVBAR */
button, a {
  cursor: pointer;
}

#search {
  width: calc(100% - 200px);
  margin-right: 0px !important;
}

.nav-link {
  transition: all 0.4s;
}

#cart_btn {
  margin-right: 5px;
  margin-left: 5px;
}

/* SHOW ITEMS */
#show_items {
  padding: 5px 15px;
  margin: 0px;
}
.item_cont {
  min-height: 340px;
}
.item {
  text-align: center;
  padding: 8px 8px 65px 8px;
  margin-bottom: 20px;
  border: solid 1px #444;
  border-radius: 2.5px;
  height: calc(100% - 20px);
}
.item_img_div {
  height: 280px;
  background-color: rgba(240, 240, 240, 30);
  margin-bottom: 10px;
}
.item_img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.item_name {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4em;
  color: black;
}
.item_desc {
  color: #444;
}
.item_price {
  margin-top: 10px;
  padding: 2px 8px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.item_price > t {
  margin: 7px 0px 5px 7px;
  display: inline-block;
  vertical-align: top;
}
.item_price > i {
  margin: 5px;
  display: inline-block;
}
.loading_items, #admin_items .loading_items {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 2.0em;
  margin-top: 60px;
  margin-bottom: 100px;
}

/* login */
#signup_login_div {
  padding: 20px 0px 5px 0px;
  margin: 0px;
}
#signup_div, #login_div {
  border: solid 1px #444;
  border-radius: 3.5px;
  margin: 5px 5% 5px 5%;
  padding: 20px 5% 20px 5%;
}
#signup_email, #login_email, #signup_password, #login_password,
#signup_email_dup, #signup_password_dup {
  margin-bottom: 10px;
  text-align: center;
}
#signup_submit, #login_submit, #forgot_submit {
  width: 100%;
}
#login_submit {
  margin-bottom: 10px;
}
#forgot_div {
  border: solid 1px #444;
  border-radius: 3.5px;
  margin: 5px 2.5% 5px 2.5%;
  padding: 20px 5% 20px 5%;
}
#forgot_email {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 576px) {
  #forgot_div {
    margin: 5px 5% 5px 5%;
  }
}
.requirements {
  color: #444;
}
#login_divider{
  margin: 24px 20px;
}

/* admin */
#admin_div {
  padding-top: 20px;
}
#admin_div h1, #admin_div h4 {
  font-family: 'Raleway', sans-serif;
}
#new_item {
  border: solid 1px #444;
  border-radius: 3.5px;
  margin: 10px 10%;
  padding: 20px 5%;
}
#new_item > input, #new_item > textarea {
  margin-bottom: 8px;
}
#new_item_enter {
  width: 100%;
}
#admin_items {
  padding: 10px;
  margin: 0px;
}
#admin_items .item {
  padding-bottom: 15px;
}
.edit_item_name, .edit_item_desc, .edit_item_price, .item_enter {
  margin: 5px auto 12px auto;
  width: 80%;
}
.edit_item_desc {
  min-height: 120px;
}
.item_enter {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
}
#admin_items .fileUploader {
  margin-bottom: 55px;
}
.fileContainer{
  border: solid 1px #d8d8d8;
}
#admin_items h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
button.remove_img {
  border-radius: 30px;
  padding: 5px 20px;
  display: inline-block;
  position: relative;
  left: 81px;
  top: -4px;
}
button.chooseFileButton {
  /*transform: translateX(-55%);
  margin-bottom: -30px !important;*/
}
.deleteImage {
  display: none;
}
.uploadPicture {
  width: auto !important;
  max-width: 100%;
  max-height: 100%;
}


/* Cart */
.cart_price {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
}
#cart_div .item {
  padding-bottom: 90px;
}
.cart_remove {
  position: absolute;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
}
